# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
_site/

*.class
*.jar
*.war
*.ear
*.logs
.idea/
.eclipse
